@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Regular.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Extrabold.woff2') format('woff2');
  font-weight: 800;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Switzer';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}